/* home */
#home{
    height: 820px;
}
.headings{
    font-size: 1.7rem;
}
.main{
    position: relative;
    left: 1%;
    top: 0%;
}

/* about */
#pic img{
    width: 250px;
    height: 175px;
}
#intro h2{
    font-size: 1.5rem;
}
#intro p{
    word-spacing: normal;
}
/* portfolio */
.gallery img{
    width: 250px;
    height: 150px;
    margin: 10px;
}
#services .row .box p{
    word-spacing: normal;
}

/* contact */
.input{
    width: 80%;
}
#msg{
    width: 70%;
}
#send{
    width: 20%;
}